.imagenesCont{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin-left: 5%; */
    margin-bottom: 30px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}

.imagenes{
    width: 240px;
    margin-left:20px;
    height: 300px;
    /* background-color: aliceblue; */
    transition: 2s;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.mainCont{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    width: 100%;
    align-content: center;
    /* background-color: blueviolet; */
    /* height: auto; */
}

.nombre{
    width: 100%;
    height: 50px;
    background-color: rgba(62, 62, 62, 0.805);
    /* position: absolute; */
    /* cambiar al insertar foto */
    /* margin-top: 300px; */
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenes:hover .nombre,
.imagen__cocina:hover .nombre{
    transform: translateY(-50px);
    transition: 1s;
}

/* .imagenes:hover, */
.imagen__cocina:hover{
    cursor: pointer;
    filter: grayscale(100%);
    transition: 1s;
    opacity: 0.8;
}
.texto{
    color:white;
    font-family: Copperplate;
    /* margin-bottom: 40px; */
    font-size: large;
    text-align: center;
}

.imagen__cocina{
    background-size: contain;
    height: 100%;
    width: 100%;
}

@media all and (max-width: 700px){
    .imagenesCont{
        flex-direction: column;
        /* background-color: aqua; */
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
    }
    .imagenes{
        /* width: 100%; */
        height: 300px;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .mainCont{
        padding: 0;
        width: 100%;
    }
    .nombre{
        /* display: none; */
    }
}