.letras{
    z-index:1;
    background-color: transparent;
    /* position: absolute; */
    /* top:200px; */
    /* left:10%; */
    /* width: 26%; */
    text-align: center;
    
}

.titulo{
    text-transform: uppercase;
    color: #FEDB97;
}

.texto{
    color:white;
    font-family: Copperplate;
    margin-bottom: 40px;
    
}