

.contenedorPrincipal{
    
    background-color: transparent;
    color: white; 
    border-bottom: 3px solid #FEDB97;
    /* margin-bottom: 0 !important;   */
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.522);
}

.conteiner{
    margin-top: 5px;
}

.contBoton{
    display: flex;
}

.boton{
    border-radius: 50%;
    text-align: center ;
    display: flex;
    color: white !important;
    /* background-color: aqua !important; */
    /* display: flex; */
    text-align: center;
    justify-content: center;
    margin-left: 15px !important;
    opacity: 1 !important;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
   
}
.button__iconos{
    /* color: #FEDB97; */
    margin: auto;
    font-size: larger;
}




.botonNav,
.botonNavS{
    color: white !important;
    /* border-bottom: 2px solid transparent !important; */
    /* border-left: 2px solid white !important;  */
    margin-left: 3px;
    transition:width 0.5s ease-in-out; 
    opacity: 1 !important;
    /* transition-timing-function: initial; */
    /* background-color: aqua !important; */

}

.raya{
    height: 2px;
    width:1px;
    /* background-clip: content-box, padding-box; */
    background-color:white;
    transition:width 0.1s ease-in-out; 
    /* margin-bottom: -10px; */
    margin-top:0 !important;
    opacity: 0.75 !important;
    
}
.botonNav:hover,
.botonNavS:hover{
    /* border-bottom-color: #FEDB97 !important; */
    cursor: pointer;
    color: #FEDB97 !important; 
}
.botonNav:hover .raya,
.botonNavS:hover .raya{
    width: 100% !important;
    background-color: #FEDB97  !important;
    height: 2px !important;
}

.boton:hover{
    border: 2px solid #FEDB97 ;
    color: #FEDB97 !important;
}
/* .botonNav:hover, .boton:hover{
    background-color: #FEDB97;
    color: black !important;
} */



@media all and (max-width: 700px){
    .contBoton{
        display: flex;

        flex-direction: row !important;
    }
    .conteiner{
        /* background-image: url('./../../imagenes/marmol-negro-textura-fondo-textura-marmol-tailandia-marmol-natural-abstracto-blanco-negro-diseno.jpg'); */
        z-index: 100;
        /* background-color: black !important; */
    }
    .botonNav{
        width: 80px;
    }
    .botonNav:hover{
        /* border-bottom-color: #FEDB97 !important; */
        cursor: pointer;
        color: #FEDB97 !important; 
    }
}





.menu{
    display: flex;
    flex-direction: column !important;
    background-color: #4c4c4c;
    /* width: 85px; */
    text-align: start !important;
    justify-content: flex-start !important;
    position: absolute;
    /* transition: 1s; */
    transform: translateY(5px);
    opacity: 0;

    
    

}

.Boton,
.BotonB{
    color: white !important;
    font-size: small;
    /* background-color: aqua !important; */
    /* width: 85px; */
    text-decoration: none !important;
    text-align: start !important;
    padding: 5px 5px !important;
    justify-content: flex-start !important;
    /* opacity: 1; */
}

.Boton:hover,
.BotonB:hover{
    color: #FEDB97 !important;
    border: 2px solid #FEDB97 !important;
}

.botonNavS:hover .menu{
    transition: 0.6s;
    opacity: 1;
    transform: translateY(-5px);
}

/* .Boton:hover .menuD{

} */

.BotonMenu{
    display:flex !important;
    flex-direction: row;
    width: 100px; 
    position: absolute; 
    margin-left: 100px; 
}

.menuD{
    display: flex;
    flex-direction: column !important;
    background-color: #4c4c4c;
    width: 80px;
    overflow: hidden;
    text-align: start;
    justify-content: flex-start;

    position: absolute;
    transition: width 1s;
    margin-top: 45px !important;
    /* transform: translateX(160%) !important; */
    /* opacity: 0; */

    
    

}

.contenedor__imagen__icono{
    background-color: white;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #FEDB97;
    transition: 1s;
}

/* .imagen__icono{
    width: 10px;
    height: 10px;
} */


.contenedor__imagen__icono:hover,
.imagen__icono:hover .contenedor__imagen__icono{
    background-color: #FEDB97;
    cursor: pointer;
}

.imagen__icono{
    width: 50px;
    height: 50px;
}