.imagenesCont{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 30px;
}

.imagenes{
    width: 32%;
    margin-left: 20px;

    height: 300px;
    /* background-color: aliceblue; */
    transition: 2s;
    overflow: hidden;
}

.mainCont{
    padding: 20px;
}

.nombre{
    width: 100%;
    height: 50px;
    background-color: rgba(62, 62, 62, 0.805);
    /* position: absolute; */
    /* cambiar al insertar foto */
    /* margin-top: 300px; */
    z-index: 100;
}

.imagenes:hover .nombre,
.imagen__cocina:hover .nombre{
    transform: translateY(-50px);
    transition: 1s;
}

/* .imagenes:hover, */
.imagen__cocina:hover{
    cursor: pointer;
    filter: grayscale(100%);
    transition: 1s;
    opacity: 0.8;
}
.texto{
    color:white;
    font-family: Copperplate;
    /* margin-bottom: 40px; */
    font-size: large;
    text-align: center;
}

.imagen__cocina{
    background-size: contain;
    height: 100%;
    width: 100%;
}

@media all and (max-width: 700px){
    .imagenesCont{
        flex-direction: column;
        /* background-color: aqua; */
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
    }
    .imagenes{
        width: 100%;
        height: 400px;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .mainCont{
        padding: 0;
    }
    .nombre{
        /* display: none; */
    }
}