.imagenesCont{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 30px;
}

.imagenes{
    width: 32%;
    margin-left: 20px;

    height: 300px;
    background-color: aliceblue;
    transition: 2s;
    overflow: hidden;
}

.mainCont{
    padding: 20px;
}

.nombre{
    width: 100%;
    height: 50px;
    background-color: rgba(62, 62, 62, 0.805);
    /* position: absolute; */
    /* cambiar al insertar foto */
    margin-top: 300px;
}

.imagenes:hover .nombre{
    transform: translateY(-50px);
    transition: 1s;
}

.imagenes:hover{
    cursor: pointer;
    opacity: 0.8;
}

@media all and (max-width: 700px){
    .imagenesCont{
        flex-direction: column;
        /* background-color: aqua; */
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
    }
    .imagenes{
        width: 100%;
        height: 400px;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .mainCont{
        padding: 0;
    }
    .nombre{
        display: none;
    }
}